---
import Layout from "../layouts/Layout.astro";
import AboutUsMain from "../components/sections/AboutUsMain.jsx";
import AboutInfo from "../components/sections/AboutInfo.jsx";
---

<Layout title="Welcome to AgileGeeks">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <AboutUsMain client:only />
    <AboutInfo client:only />
  </main>
</Layout>