---
import Layout from "../layouts/Layout.astro";
import ServicesHeroSection from '../components/sections/services/ServicesHeroSection'
import ServicesBody from '../components/sections/services/ServicesBody'
import OurServices from '../components/sections/services/OurServices'
import NewsLetter from "../components/sections/services/NewsLetter";
---

<Layout title="Welcome to AgileGeeks">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
   <ServicesHeroSection/>
   <ServicesBody/>
   <OurServices/>
   <NewsLetter/>
  </main>
</Layout>